*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aqua;
}

/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    body{
        background-color: red;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body{
        background-color: blue;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    body{
        background-color: green;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    body{
        background-color: yellow;
    }
}

@media (min-width: 1600px) { 
    body{
        background-color: coral;
    }
}

@media (min-width: 1920px) { 
    body{
        background-color: rgb(85, 25, 182);
    }
}